snippet inc
	#include <${1}>
snippet Inc
	#include "${1}"
snippet ifndef
	#ifndef ${1:UNTITLED}_H
	#define $1_H

	${0}

	#endif // $1_H
snippet def
	#define ${0}
snippet main
	int main(int argc, char *argv[])
	{
		${1}

		return 0;
	}
snippet if
	if(${1}) {
		${2}
	}
snippet else
	else {
		${1}
	}
snippet for
	for(${1:int} ${2:i} = ${3:0}; $2 < ${4:10}; $2++) {
		${5}
	}
snippet while
	while(${1}) {
		${2}
	}
